*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container{
    max-width: 1080px;
    margin: 0 auto;
    background-color: darkseagreen;
    text-align: center;
}

.header{
    background-color: chocolate;
    text-align: center;
    color: aqua;
}
.header h1{
    text-shadow: darkseagreen 1px 0 10px;
    font-size: 48px;
    padding: 10px 0;
}

.main{
    text-align: center;
    color: slateblue;
}

.main p{
    filter: drop-shadow(1px 1px 5px#aaf900);
    font-family: serif;
    font-weight: 600;

}

.main span{
    text-decoration: underline;
    text-decoration-color: #612e2e;
}

.block{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.box{
    text-align: center;
    max-width: 320px;
    padding: 20px;
    filter: drop-shadow(0 0 5px #00000081);
}

.box img{
    border-radius: 50%;
    width: 80px;
}

.submit{
    margin: 50px auto 20px;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    color: black;
    transition: all .2s linear;
}
.submit:hover{
    background-color: cadetblue;
}

.submit:active{
    background-color: #aaf900;
}